* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html,
body {
  height: 100%;
  background-color: #FAF9FC;
}
.clear {
  clear: both;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
b {
  display: none;
}
.blue-vivacity {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 106.1%;
  background-color: #0B608C;
  opacity: 0.5;
  z-index: 1;
}
.selected i {
  color: #d4e157 !important;
}
.selected a {
  color: white !important;
}
.selected2 i {
  color: #6a1b9a !important;
}
.selected2 a {
  color: white !important;
}
.status-p {
  border: 1px solid #42a5f5;
  background-color: #42a5f5;
  color: white;
  padding: 5px 7px;
  border-radius: 10px;
}
.status-x {
  border: 1px solid #ef5350;
  background-color: #ef5350;
  color: white;
  padding: 5px 7px;
  border-radius: 10px;
}
.status-c {
  border: 1px solid #43a047;
  background-color: #43a047;
  color: white;
  padding: 5px 7px;
  border-radius: 10px;
}
.save-status {
  display: none;
}
/***/
section.aside-left {
  width: 19%;
  float: left;
  height: 100%;
  background-color: #2D3035;
  transition: 1s;
}
@media screen and (max-width: 768px) {
  section.aside-left {
    display: none;
    position: relative;
    left: -200px;
    z-index: 9999;
  }
}
@media screen and (min-width: 768px) {
  section.aside-left {
    width: 19% !important;
    float: left !important;
    height: 100% !important;
    position: relative !important;
    left: 0 !important;
    transition: 1s;
  }
}
section.aside-left .logo {
  padding: 15px;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  color: white;
  background-color: #26282D;
}
section.aside-left nav ul {
  padding-top: 20px;
}
section.aside-left nav ul i {
  display: inline-block;
  font-size: 20px;
  width: 20px;
  color: #717171;
  transition: 0.5s;
}
section.aside-left nav ul li {
  list-style: none;
  padding: 15px;
  padding-left: 45px;
}
section.aside-left nav ul li a {
  text-decoration: none;
  color: #717171;
  margin-left: 20px;
  font-weight: normal;
  font-size: 15px;
  transition: 0.5s;
}
section.aside-left .arrow {
  padding: 15px;
  display: inline-block;
  border-radius: 50%;
  background-color: #26282D;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 768px) {
  section.aside-left .arrow {
    display: inline-block;
  }
}
section.aside-left .arrow i {
  color: #B2B2B2;
  font-size: 22px;
}
header {
  width: 100%;
  height: 90px;
  border-bottom: #717171 2px solid;
}
header .menu {
  float: left;
  margin-top: 35px;
  margin-left: 30px;
  margin-right: 30px;
  display: none;
}
@media screen and (max-width: 768px) {
  header .menu {
    display: inline-block;
  }
}
header .menu i {
  color: #2D3035;
  font-size: 26px;
  cursor: pointer;
}
.search {
  float: right;
  align-items: center;
  margin-top: 20px;
  margin-right: 30px;
  background-color: #2D3035;
  border-radius: 20px;
}
.search input {
  border: none;
  height: 33px;
  width: 0;
  position: relative;
  top: -2px;
  transition: 0.6s;
  background-color: #2D3035;
  border-radius: 20px;
  color: white;
}
.search input:focus {
  outline: 0;
}
.search i {
  font-size: 20px;
  padding: 10px;
  color: white;
  cursor: pointer;
}
.search .fa-times {
  display: none;
}
section.main {
  width: 62%;
  float: left;
  max-height: 85%;
  overflow-y: scroll;
}
@media screen and (max-width: 768px) {
  section.main {
    width: 100%;
  }
}
section.main .welcome {
  padding: 50px;
}
section.main .welcome h2 {
  margin: 10px 0;
  color: #7F7F7F;
  font-weight: normal;
}
section.main .welcome p {
  color: #B2B2B2;
}
section.main .welcome div {
  margin: 30px;
}
section.storage-bd {
  display: none;
}
section.storage-sts {
  display: none;
}
.storage-status button {
  margin-left: 7%;
  margin-bottom: 15px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.storage-status button i {
  font-size: 25px;
  color: #9c27b0;
  transition: 0.6s;
}
.storage-status button i:hover {
  color: #7b1f8b;
}
section.requests {
  width: 81%;
  float: left;
  max-height: 85%;
  overflow-y: scroll;
  display: none;
}
@media screen and (max-width: 768px) {
  section.requests {
    width: 100%;
  }
}
section.requests h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
section.requests table.main-table {
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  width: 87%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
section.requests table.main-table thead {
  background-color: #2D3035;
  color: white;
}
section.requests table.main-table thead tr {
  height: 50px;
  background: #36304a;
}
section.requests table.main-table tbody {
  height: 50px;
  position: relative;
}
section.requests table.main-table tbody tr {
  font-size: 15px;
  color: gray;
  line-height: 1.2;
  font-weight: unset;
  height: 50px;
  transition: 0.5s;
  cursor: pointer;
}
section.requests table.main-table tbody tr:hover {
  background-color: #ccc;
}
section.requests .client-data {
  position: fixed;
  bottom: 10%;
  left: 13%;
  display: none;
  z-index: 999;
}
section.requests .client-data .exit {
  position: absolute;
  right: -6px;
  top: -6px;
  color: white;
  font-size: 16px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #c62828;
  transition: 0.5s;
  z-index: 999;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
section.requests .client-data .exit:hover {
  background-color: #ac2222;
}
section.requests .client-data-wraper {
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 20px;
  display: none;
  height: 80vh;
  width: 80vw;
  overflow-y: scroll;
  z-index: 999;
  -webkit-box-shadow: 5px 5px 15px 1px #000000;
  box-shadow: 5px 5px 15px 1px #000000;
  border: 1px solid #0B608C;
  border-radius: 30px;
}
section.requests .client-data-wraper > h2 {
  text-align: left;
  font-size: 25px;
  margin-bottom: 20px;
  color: #0B608C;
}
section.requests .client-data-wraper .dados {
  display: flex;
}
@media screen and (max-width: 768px) {
  section.requests .client-data-wraper .dados {
    flex-direction: column;
  }
}
section.requests .client-data-wraper .dados div {
  width: 33.3333%;
  padding: 0 50px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  section.requests .client-data-wraper .dados div {
    width: 100%;
  }
}
section.requests .client-data-wraper .dados div h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: normal;
  color: #B0B2AA;
}
section.requests .client-data-wraper .dados div p {
  color: #144F58;
}
section.requests .client-data-wraper table {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
section.requests .client-data-wraper table thead {
  height: 50px;
}
section.requests .client-data-wraper table th {
  color: #B0B2AA;
}
section.requests .client-data-wraper table th:nth-of-type(1) {
  width: 25%;
}
section.requests .client-data-wraper table th:nth-of-type(2) {
  width: 50%;
}
section.requests .client-data-wraper table th:nth-of-type(3) {
  width: 25%;
}
section.requests .client-data-wraper table tbody tr {
  height: 25px;
}
section.requests .client-data-wraper table tbody td {
  color: #0B608C;
}
section.requests .client-data-wraper table tbody td:nth-of-type(1) {
  width: 25%;
}
section.requests .client-data-wraper table tbody td:nth-of-type(2) {
  width: 50%;
}
section.requests .client-data-wraper table tbody td:nth-of-type(3) {
  width: 25%;
}
section.requests .client-data-wraper .total {
  height: 40px;
}
section.requests .client-data-wraper .buttons {
  width: 100%;
  text-align: center;
  padding: 40px 0 30px 0;
}
@media screen and (max-width: 434px) {
  section.requests .client-data-wraper .buttons {
    flex-direction: column;
  }
}
section.requests .client-data-wraper .buttons div {
  width: 33.3333%;
}
@media screen and (max-width: 550px) {
  section.requests .client-data-wraper .buttons div {
    width: 100%;
    margin: 10px 0;
  }
}
section.requests .client-data-wraper .buttons p {
  border: 1px solid #0B608C;
  color: #0B608C;
  display: inline-block;
  padding: 5px 12px;
  cursor: pointer;
  transition: 0.5s;
}
section.requests .client-data-wraper .buttons p i {
  margin-right: 5px;
}
section.requests .client-data-wraper .buttons p:hover {
  background-color: #0B608C;
  color: white;
}
/*aside{
    margin: 0 auto;
    max-height: 85%;
    overflow-y: scroll;

    @media screen and (max-width:768px){
        display: none;
    }

    h2{
        margin-bottom: 10px;
        padding-bottom: 10px;
        margin-top: 35px;
        border-bottom: 1px solid #B2B2B2;
        display: inline-block;
        text-align: center;
        color: #7F7F7F;
    }

    .flex{
        margin: 30px;

        .circle{
            width: 40px;
            height: 20px;
            border: 1px solid #717171;
            border-radius: 50%;
            position: relative;
            background-color: white;

            .line{
                position: absolute;
                left: 44%;
                top: 18px;
                width: 2px;
                height: 115px;
                background-color: #B2B2B2;
            }
        }
    
        .info{
            margin-left: 10px;

            h3{
                border-bottom: 8px;
                font-weight: normal;
                color: #7F7F7F;
            }

            p{
                color: #B2B2B2;
            }
        }
    }
}*/
