*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 300;
}

html,body{
  height: 100%;
  background-image: url(../imagens/MainBg.jpg);
  background-size: cover;
  position: relative;
}

.black-bg{
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 1;
}

span{
  margin-right: 10px;
}

i{
  height: 48px;
  font-size: 18px;
  color: black;
}

input{
  font-weight: 300;
  height: 48px;
  background: white;
  color: #000;
  font-size: 16px;
  border: 1px solid transparent;
  padding: 0 20px ;
  margin-bottom: 20px;
  border: 1px solid rgb(228, 228, 228);
}

input:focus{
  outline: 0;
  box-shadow: 0 0 3pt 2pt aquamarine;
}

button{
  width: 150px;
  height: 40px;
  border: 0;
  background: -webkit-linear-gradient(left,#dd7e43,#9e5a2f,#c9733d);
  color: white;
  font-size: 17px;
  cursor: pointer;
  margin-top: 10px;
}

p {
  font-weight: 700;
}

.main{
  width: 100%;
  position: relative;
  z-index: 2;
  padding-top: 100px;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
  text-align: center;
}

.notification{
  padding: 10px 0;
  background-color: #d32f2f;
  color: white;
  max-width: 370px;
  margin: 0 auto;
}

.title{
  font-size: 28px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  display: block;
  margin-bottom: 30px;
}

.box{
  max-width: 400px;
  background-color: whitesmoke;
  margin: 0 auto;
  padding: 30px 0;
  border-radius: 20px;
}